---
import { getCurrentTimeInItaly, formatTimeForItaly } from "../lib/helpers";
import Card from "./Card/index.astro";
---

<Card 
  colSpan="lg:col-span-1" 
  rowSpan="md:row-span-2" 
  title="My Writeups" 
  href="https://blog.achux.me/" 
  target="_blank"
  background="bg-gradient-to-r from-[#ff5f6d] to-[#ffc371]"
>
  <a href="https://blog.achux.me/" target="_blank" rel="noopener noreferrer">Visit my blog</a>
</Card>
